node-red/flows.json
[
    {
        "id": "f041b4154f2afa6f",
        "type": "tab",
        "label": "Leds_remote_version",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "af9c09da13e557f4",
        "type": "ui_switch",
        "z": "f041b4154f2afa6f",
        "name": "Led 1",
        "label": "Led 1",
        "tooltip": "",
        "group": "4bafcbabfc32ee65",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1 1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "1 0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "4025f5338ae0fab7"
            ]
        ]
    },
    {
        "id": "21a50e42d5f7a380",
        "type": "ui_switch",
        "z": "f041b4154f2afa6f",
        "name": "Led 2",
        "label": "Led 2",
        "tooltip": "",
        "group": "4bafcbabfc32ee65",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "2 1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "2 0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "4025f5338ae0fab7"
            ]
        ]
    },
    {
        "id": "da627a8ccd7dc0f7",
        "type": "ui_switch",
        "z": "f041b4154f2afa6f",
        "name": "Led 3",
        "label": "Led 3",
        "tooltip": "",
        "group": "4bafcbabfc32ee65",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "3 1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "3 0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "4025f5338ae0fab7"
            ]
        ]
    },
    {
        "id": "92e24b3ed563b35e",
        "type": "ui_switch",
        "z": "f041b4154f2afa6f",
        "name": "led 4",
        "label": "Led 4",
        "tooltip": "",
        "group": "4bafcbabfc32ee65",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "4 1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "4 0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "4025f5338ae0fab7"
            ]
        ]
    },
    {
        "id": "e21cbef411b76741",
        "type": "ui_switch",
        "z": "f041b4154f2afa6f",
        "name": "led 5",
        "label": "Led 5",
        "tooltip": "",
        "group": "4bafcbabfc32ee65",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "5 1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "5 0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "4025f5338ae0fab7"
            ]
        ]
    },
    {
        "id": "f2872dcee076ed8d",
        "type": "ui_switch",
        "z": "f041b4154f2afa6f",
        "name": "led6",
        "label": "Led 6",
        "tooltip": "",
        "group": "4bafcbabfc32ee65",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "6 1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "6 0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 480,
        "wires": [
            [
                "4025f5338ae0fab7"
            ]
        ]
    },
    {
        "id": "9a080442a47e981b",
        "type": "ui_switch",
        "z": "f041b4154f2afa6f",
        "name": "Serial Izquierda",
        "label": "Serial Izquierda",
        "tooltip": "",
        "group": "1c4ccd4aa828a43a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "8 1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "7 0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 160,
        "y": 540,
        "wires": [
            [
                "3246d4ca273db958"
            ]
        ]
    },
    {
        "id": "f3e7bd11c278e618",
        "type": "ui_switch",
        "z": "f041b4154f2afa6f",
        "name": "Serial Derecha",
        "label": "Serial Derecha",
        "tooltip": "",
        "group": "1c4ccd4aa828a43a",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "8 0",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "7 0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 160,
        "y": 600,
        "wires": [
            [
                "3246d4ca273db958"
            ]
        ]
    },
    {
        "id": "b5cd460db1936dfb",
        "type": "ui_switch",
        "z": "f041b4154f2afa6f",
        "name": "Serial Full",
        "label": "Serial Full",
        "tooltip": "",
        "group": "1c4ccd4aa828a43a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "9 0",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "7 0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 680,
        "wires": [
            [
                "3246d4ca273db958"
            ]
        ]
    },
    {
        "id": "60e88390c828c017",
        "type": "ui_switch",
        "z": "f041b4154f2afa6f",
        "name": "ParImpar",
        "label": "Par-Impar",
        "tooltip": "",
        "group": "1c4ccd4aa828a43a",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "10 0",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "7 0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 740,
        "wires": [
            [
                "3246d4ca273db958"
            ]
        ]
    },
    {
        "id": "af4368c5d4805419",
        "type": "ui_switch",
        "z": "f041b4154f2afa6f",
        "name": "Flash",
        "label": "Flash",
        "tooltip": "",
        "group": "1c4ccd4aa828a43a",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "9 1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "7 0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 150,
        "y": 800,
        "wires": [
            [
                "3246d4ca273db958"
            ]
        ]
    },
    {
        "id": "3246d4ca273db958",
        "type": "delay",
        "z": "f041b4154f2afa6f",
        "name": "",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 440,
        "y": 620,
        "wires": [
            [
                "311457bc2c5ba129"
            ]
        ]
    },
    {
        "id": "4025f5338ae0fab7",
        "type": "delay",
        "z": "f041b4154f2afa6f",
        "name": "",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 440,
        "y": 360,
        "wires": [
            [
                "311457bc2c5ba129"
            ]
        ]
    },
    {
        "id": "311457bc2c5ba129",
        "type": "mqtt out",
        "z": "f041b4154f2afa6f",
        "name": "",
        "topic": "HomeroJPC",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "aaf8ec8c7ae630dc",
        "x": 750,
        "y": 460,
        "wires": []
    },
    {
        "id": "f48b648cfab89dce",
        "type": "mqtt in",
        "z": "f041b4154f2afa6f",
        "name": "",
        "topic": "Fabis",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "aaf8ec8c7ae630dc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 910,
        "y": 460,
        "wires": [
            [
                "029245608c299685",
                "f1185e3fc1cf8d55"
            ]
        ]
    },
    {
        "id": "029245608c299685",
        "type": "serial out",
        "z": "f041b4154f2afa6f",
        "name": "",
        "serial": "c11921f601c7bcaa",
        "x": 1110,
        "y": 460,
        "wires": []
    },
    {
        "id": "f1185e3fc1cf8d55",
        "type": "debug",
        "z": "f041b4154f2afa6f",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 400,
        "wires": []
    },
    {
        "id": "33e486c5fb4570f6",
        "type": "serial in",
        "z": "f041b4154f2afa6f",
        "name": "",
        "serial": "c11921f601c7bcaa",
        "x": 130,
        "y": 1000,
        "wires": [
            [
                "ead1df5f31f4acc2",
                "7c5ee808d648a2b0"
            ]
        ]
    },
    {
        "id": "ead1df5f31f4acc2",
        "type": "json",
        "z": "f041b4154f2afa6f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 290,
        "y": 1000,
        "wires": [
            [
                "5c43c6d3c65e35ae"
            ]
        ]
    },
    {
        "id": "5c43c6d3c65e35ae",
        "type": "function",
        "z": "f041b4154f2afa6f",
        "name": "function 13",
        "func": "const msg1={ \"payload\": msg.payload.ID};\nconst msg2={ \"payload\": msg.payload.btn1};\nconst msg3={ \"payload\": msg.payload.btn2};\nconst msg4={ \"payload\": msg.payload.A0};\nconst msg5={ \"payload\": msg.payload.A1};\n\n\nreturn [msg1,msg2,msg3,msg4,msg5];",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1000,
        "wires": [
            [
                "88f1c484b541a023"
            ],
            [
                "d825775b7954b2d9"
            ],
            [
                "af13c49f7cb87c9a"
            ],
            [
                "5a5b640e0ac4669b"
            ],
            [
                "d8af00a3fc19e3be"
            ]
        ]
    },
    {
        "id": "88f1c484b541a023",
        "type": "mqtt out",
        "z": "f041b4154f2afa6f",
        "name": "ID_HJ",
        "topic": "ID_HJ",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "aaf8ec8c7ae630dc",
        "x": 650,
        "y": 920,
        "wires": []
    },
    {
        "id": "d825775b7954b2d9",
        "type": "mqtt out",
        "z": "f041b4154f2afa6f",
        "name": "",
        "topic": "B1_HJ",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "aaf8ec8c7ae630dc",
        "x": 650,
        "y": 960,
        "wires": []
    },
    {
        "id": "af13c49f7cb87c9a",
        "type": "mqtt out",
        "z": "f041b4154f2afa6f",
        "name": "",
        "topic": "B2_HJ",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "aaf8ec8c7ae630dc",
        "x": 650,
        "y": 1000,
        "wires": []
    },
    {
        "id": "5a5b640e0ac4669b",
        "type": "mqtt out",
        "z": "f041b4154f2afa6f",
        "name": "",
        "topic": "A0_HJ",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "aaf8ec8c7ae630dc",
        "x": 650,
        "y": 1040,
        "wires": []
    },
    {
        "id": "d8af00a3fc19e3be",
        "type": "mqtt out",
        "z": "f041b4154f2afa6f",
        "name": "",
        "topic": "A1_HJ",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "aaf8ec8c7ae630dc",
        "x": 650,
        "y": 1080,
        "wires": []
    },
    {
        "id": "7c5ee808d648a2b0",
        "type": "debug",
        "z": "f041b4154f2afa6f",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 1060,
        "wires": []
    },
    {
        "id": "d44e9d81f0fe1019",
        "type": "ui_text",
        "z": "f041b4154f2afa6f",
        "group": "3f9083b460ce26cb",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "ID",
        "label": "ID:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 970,
        "y": 920,
        "wires": []
    },
    {
        "id": "fef74f0e2308dead",
        "type": "ui_text",
        "z": "f041b4154f2afa6f",
        "group": "3f9083b460ce26cb",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "BTN1",
        "label": "BTN1:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 970,
        "y": 960,
        "wires": []
    },
    {
        "id": "7d252db471133641",
        "type": "ui_text",
        "z": "f041b4154f2afa6f",
        "group": "3f9083b460ce26cb",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "BTN2",
        "label": "BTN2:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 970,
        "y": 1020,
        "wires": []
    },
    {
        "id": "6c6e0373a28a4a9a",
        "type": "ui_gauge",
        "z": "f041b4154f2afa6f",
        "name": "A0",
        "group": "7e6644e950aadfcb",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "A0",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1023",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "350",
        "seg2": "700",
        "diff": false,
        "className": "",
        "x": 970,
        "y": 1080,
        "wires": []
    },
    {
        "id": "f0e4fb8965df7755",
        "type": "ui_gauge",
        "z": "f041b4154f2afa6f",
        "name": "A1",
        "group": "7e6644e950aadfcb",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "A1",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1023",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "350",
        "seg2": "700",
        "diff": false,
        "className": "",
        "x": 970,
        "y": 1180,
        "wires": []
    },
    {
        "id": "19b35ade65c67f6d",
        "type": "mqtt in",
        "z": "f041b4154f2afa6f",
        "name": "",
        "topic": "ID_Fb",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "aaf8ec8c7ae630dc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 810,
        "y": 920,
        "wires": [
            [
                "d44e9d81f0fe1019",
                "40cb78229a130609"
            ]
        ]
    },
    {
        "id": "8434bf6c9b5b1ad5",
        "type": "mqtt in",
        "z": "f041b4154f2afa6f",
        "name": "",
        "topic": "B1_Fb",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "aaf8ec8c7ae630dc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 810,
        "y": 960,
        "wires": [
            [
                "fef74f0e2308dead",
                "40cb78229a130609"
            ]
        ]
    },
    {
        "id": "24170db310660df3",
        "type": "mqtt in",
        "z": "f041b4154f2afa6f",
        "name": "",
        "topic": "B2_Fb",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "aaf8ec8c7ae630dc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 810,
        "y": 1000,
        "wires": [
            [
                "7d252db471133641",
                "40cb78229a130609"
            ]
        ]
    },
    {
        "id": "44bb95bab68936df",
        "type": "mqtt in",
        "z": "f041b4154f2afa6f",
        "name": "",
        "topic": "A0_Fb",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "aaf8ec8c7ae630dc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 810,
        "y": 1040,
        "wires": [
            [
                "6c6e0373a28a4a9a",
                "dbe54f55d40c8019",
                "40cb78229a130609"
            ]
        ]
    },
    {
        "id": "5915b8232f721e90",
        "type": "mqtt in",
        "z": "f041b4154f2afa6f",
        "name": "",
        "topic": "A1_Fb",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "aaf8ec8c7ae630dc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 810,
        "y": 1080,
        "wires": [
            [
                "f0e4fb8965df7755",
                "279bf89bab471108",
                "40cb78229a130609"
            ]
        ]
    },
    {
        "id": "1af1908d4aa9fef9",
        "type": "function",
        "z": "f041b4154f2afa6f",
        "name": "function 14",
        "func": "const A0valor = msg.payload;\n\nif(A0valor > 700){\n    msg.payload = \"Ätencion, La entrada A0 fuera de rango\";\n  return msg;\n}else{\n    return null;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 1120,
        "wires": [
            [
                "fff3955a1eb97d47",
                "3c6003cb846fa7ed"
            ]
        ]
    },
    {
        "id": "fff3955a1eb97d47",
        "type": "ui_audio",
        "z": "f041b4154f2afa6f",
        "name": "",
        "group": "7e6644e950aadfcb",
        "voice": "Microsoft Sabina - Spanish (Mexico)",
        "always": "",
        "x": 1320,
        "y": 1100,
        "wires": []
    },
    {
        "id": "3c6003cb846fa7ed",
        "type": "ui_toast",
        "z": "f041b4154f2afa6f",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1350,
        "y": 1140,
        "wires": []
    },
    {
        "id": "afba0b9a6ee24278",
        "type": "function",
        "z": "f041b4154f2afa6f",
        "name": "function 15",
        "func": "const A1valor = msg.payload;\n\nif(A1valor > 700){\n    msg.payload = \"Ätencion, La entrada A1 fuera de rango\";\n    return msg;\n}else{\n    return null;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 1220,
        "wires": [
            [
                "705feb6f4d785ba4",
                "0dfb9a8d8b313d11"
            ]
        ]
    },
    {
        "id": "705feb6f4d785ba4",
        "type": "ui_audio",
        "z": "f041b4154f2afa6f",
        "name": "",
        "group": "7e6644e950aadfcb",
        "voice": "Microsoft Sabina - Spanish (Mexico)",
        "always": "",
        "x": 1340,
        "y": 1200,
        "wires": []
    },
    {
        "id": "0dfb9a8d8b313d11",
        "type": "ui_toast",
        "z": "f041b4154f2afa6f",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1370,
        "y": 1240,
        "wires": []
    },
    {
        "id": "dbe54f55d40c8019",
        "type": "function",
        "z": "f041b4154f2afa6f",
        "name": "function 16",
        "func": "var A0_value = msg.payload;\nvar AudioPlaying0 = flow.get(\"AudioPlaying0\");\n\nif (A0_value > 700 && AudioPlaying0 == false) {\n    msg.payload = \"¡PELIGRO!, el valor de A0 esta fuera de rango\";\n    flow.set(\"AudioPlaying0\", true);\n    setTimeout(function () { flow.set(\"AudioPlaying0\", false); }, 2000);\n    return msg;\n} else {\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nif (flow.get(\"AudioPlaying0\") === undefined) {\n    flow.set(\"AudioPlaying0\", false)\n}",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 1120,
        "wires": [
            [
                "1af1908d4aa9fef9"
            ]
        ]
    },
    {
        "id": "279bf89bab471108",
        "type": "function",
        "z": "f041b4154f2afa6f",
        "name": "function 17",
        "func": "var A0_value = msg.payload;\nvar AudioPlaying0 = flow.get(\"AudioPlaying0\");\n\nif (A0_value > 700 && AudioPlaying0 == false) {\n    msg.payload = \"¡PELIGRO!, el valor de A0 esta fuera de rango\";\n    flow.set(\"AudioPlaying0\", true);\n    setTimeout(function () { flow.set(\"AudioPlaying0\", false); }, 2000);\n    return msg;\n} else {\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nif (flow.get(\"AudioPlaying0\") === undefined) {\n    flow.set(\"AudioPlaying0\", false)\n}",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 1220,
        "wires": [
            [
                "afba0b9a6ee24278"
            ]
        ]
    },
    {
        "id": "40cb78229a130609",
        "type": "debug",
        "z": "f041b4154f2afa6f",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 1280,
        "wires": []
    },
    {
        "id": "4bafcbabfc32ee65",
        "type": "ui_group",
        "name": "Salidas Digitales",
        "tab": "e42663bf28210996",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1c4ccd4aa828a43a",
        "type": "ui_group",
        "name": "Efectos Visuales",
        "tab": "e42663bf28210996",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aaf8ec8c7ae630dc",
        "type": "mqtt-broker",
        "name": "Hivemq",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c11921f601c7bcaa",
        "type": "serial-port",
        "name": "",
        "serialport": "COM7",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "3f9083b460ce26cb",
        "type": "ui_group",
        "name": "Entradas digitales",
        "tab": "e42663bf28210996",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7e6644e950aadfcb",
        "type": "ui_group",
        "name": "Entradas Analogicas",
        "tab": "e42663bf28210996",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e42663bf28210996",
        "type": "ui_tab",
        "name": "principal",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]